/* medium screen 768px - 992px */

@media (max-width: 991.98px) {
    .header-content-wrapper {
        width: 100%;
        position: static;
    }
    .logo-image {
        margin: 30px 0 0 -50px;
    }
    .dropdown-menu.show {
        left: -4em;
    }
    .menu-icon {
        padding-top: 0;
        margin: 0;
    }
    .navbar-nav {
        flex-direction: column;
        justify-content: center;
    }
    .main-content-wrapper {
        margin: 0 auto;
    }
    .section {
        padding-top: 30px;
    }
    .first-screen {
        margin: 0;
        padding-top: 0;
        width: 100%;
        margin: auto;
    }
    .text {
        padding: 5em 0;
        text-align: center;
    }
    .first-screen-btn {
        width: 120px;
        height: 40px;
        margin-top: 20px;
        font-size: 12px;
    }
    .slider {
        width: 100%;
        padding: 2.5em 2.5em;
        margin: 0;
    }
    .page-title {
        margin-block-end: 1em;
    }
    .shop-discription__icon {
        margin: 0;
    }
    .shop-discription__photo-wrapp {
        margin: 0 auto 1em;
        width: 85%;
        padding: 0;
    }
    .shop-discription__photo {
        width: 100%;
        max-height: 300px;
    }
    .shop-discription__address {
        margin-left: 1em;
    }
    .footer {
        height: auto;
    }
    .footer-content-conteiner {
        margin: auto;
        padding: 0;
    }
    .networks {
        text-align: left;
        margin-top: 15px;
    }
}

/* small screen 576px - 768px */
@media (max-width: 767.98px) {  
    .header-content-wrapper {
        position: static;
        width: 100%;
        height: 200px;
        margin: auto;
        flex-direction: column;
        padding: 0;
    }  
    .logo {
        margin: 0 auto;
        order: 1;
    }
    .navbar {
        order: 3;
    }
    .navbar-nav {
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .nav-item {
        margin: 5px 0 0;
    }
    .navbar-brand {
        font-size: 14px;
        font-weight: 600px;
    }
    .icons-conteiner {
        order: 2;
        justify-content: center;
    }
    .text {
        padding: 1em 0 0;
        text-align: center;
    }
    h1 {
        font-family: "Philosopher", sans-serif;
        color: #55256C;
        font-size: 6vw;
    }
    h2 {
        color: #474651;
        font-size: 2vw;
        line-height: 1.8;
        margin-top: 2em;
    }
    .slider {
        padding: 1em 9em;
        margin: 0;
    }
    .card-image-wrapper {
        padding: 0 30%;
        margin-bottom: 1em;
    }
    .card-image {
        width: 190px;
        height: 160px
    }
    .card-image-text {
        margin: -45px 125px
    }
    .footer-content-conteiner {
        min-width: 576;
        flex-direction: column-reverse;
    }
    .networks {
        margin-bottom: 15px;
    }
    .contacts {
        margin-bottom: 15px;        
    }
}