body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  max-width: 1337px;
}
figure {
  margin: 0;
  padding: 0;
}

/*header*/

.header-content-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 15px;
  z-index: 3;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(51, 51, 51, 0.158);
  padding: 0.5em 0 0 3.5em;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.logo {
  width: 15vw;
}
.logo-image {
  box-sizing: border-box;
  width: 170px;
  margin: 0 0 0 -20px;
}
.navbar-nav {
  flex-direction: row;
  align-items: center;
  margin: auto;
  position: relative;
}
.dropdown-menu.show {
  position: absolute;
  top: 4em;
  left: -4em;
}
.nav-item {
  margin: 0 1.5em;
}
.dropdown-item:active {
  background-color: #fd13847e;
}
.navbar-brand {
  font-size: 14px;
  font-weight: 500;
  color: rgb(14, 75, 12);
}
.navbar-brand:hover {
  color: #fd1383;
  font-weight: 600;
}
.icons-conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icons {
  width: 30px;
  height: 30px;
}
.search-wrapper {
  position: relative;
  margin-right: 15px;
}
.search-input {
  position: absolute;
  width: 300px;
  top: 60px;
  left: -150px;
  border: 1px solid #eee;
  padding: 5px 8px;
  box-shadow: 0 0 5px rgb(9, 43, 1);
}
.search-input:focus {
  outline: none;
}
.shopping-bag-wrapper {
  position: relative;
}
.button {
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  background-color: initial;
}
.button:focus {
  outline: none;
  border: none;
  box-shadow: 2px 1px 5px rgb(9, 43, 1);
}
.counter {
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 15px;
  left: 24px;
}
.cart-window {
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 0 10px #272425c0;
  width: 600px;
  min-height: 200px;
  border-radius: 20px;
  position: absolute;
  top: 50px;
  left: -480px;
  z-index: 3;
  padding: 2em 2.5em;
}
.hidden {
  display: none;
}
.cart-list {
  padding: 0;
  list-style-type: none;
  font-size: 14px;
}
.cart-list-item {
  padding: 5px 0;
}
.cart-list-item::before {
  content: "\2714";
  color: #fd1383;
  margin-right: 10px;
}
.cart-list-item::after {
  content: url("./images/delet-icon.png");
  margin-left: 30px;
  position: absolute;
}
.cart-btn {
  border: 1px solid rgb(185, 180, 180);
  padding: 5px 10px;
  margin-left: 1em;
  background-color: #fff;
}
.cart-btn:focus {
  border: 1px solid rgb(185, 180, 180);
  outline: none;
}
.cart-list-btn {
  border: 2px sol "id" #55256c;
  background-color: #fff;
  padding: 10px 15px;
  color: #fd1383;
  font-size: 14px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  margin: 30px 110px;
  font-family: "Philosopher", sans-serif;
}
.cart-list-btn:focus,
.first-screen-btn:focus {
  outline: none;
}
.count {
  margin-left: 1em;
}

/*main*/

.main-content-wrapper {
  width: 85%;
  margin: 10px auto;
}
.section {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px sol "id" #fd1383;
  padding: 4em 0 3em;
}
.section:last-child {
  border: none;
}
.page-title {
  width: 100%;
  text-align: center;
  margin-block-end: 2.5em;
  color: #474651;
}

/* first screen */

.first-screen {
  width: 100%;
  padding-top: 5em;
}
.text {
  padding: 50px 0 50px 100px;
  /* background-"color": lightcoral; */
}
h1 {
  font-family: "Philosopher", sans-serif;
  color: #55256c;
  font-size: 4vw;
}
h2 {
  color: #474651;
  font-size: 1.5vw;
  line-height: 1.5;
  margin-top: 1.8em;
}
.first-screen-btn {
  background-color: #fff;
  border: 2px solid #55256c;
  color: #fd1383;
  font-size: 20px;
  width: 15vw;
  height: 55px;
  border-radius: 30px;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25);
  margin-top: 2.5em;
  font-family: "Philosopher", sans-serif;
}

/* carousel */

.carousel {
  /* background-"color": lightseagreen; */
  margin: auto;
  margin-bottom: 1em;
}
.carousel-item {
  text-align: center;
  padding-top: 10px;
}
.slider {
  margin: 1.5em 0 0 5em;
}
.slider_first {
  width: 330px;
  height: 330px;
}
.slider_second,
.slider_third {
  width: 300px;
  height: 330px;
}

/* shop */

.shop-discription {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shop-discription__photo-wrapp {
  padding: 0;
  margin: auto;
  margin-bottom: 2em;
}
.shop-discription__photo {
  width: 370px;
  height: 370px;
}
.shop-discription__address {
  margin-left: 3.5em;
}
.shop-discription__icon-wrapp {
  padding: 0;
}
.shop-discription__icon {
  width: 70px;
  height: 60px;
  margin-right: 4em;
}

/* delivery */

.info {
  flex-direction: column;
  text-align: justify;
}
.info-row {
  margin: 0 2.5em;
}
.info-row:last-child {
  margin-top: 2em;
}
.info-list {
  list-style-type: none;
}
.info-list-item {
  margin: 10px 0;
}
.info-list-item::before {
  content: "\2022";
  color: #fd1383;
  font-weight: bold;
  font-size: 20px;
  margin-right: 1em;
}

/*footer*/

.footer {
  width: 100%;
  background-color: rgb(164, 255, 152);
  height: 20vh;
  padding: 1.3em 10em;
}
.footer-content-conteiner {
  align-items: center;
}
.address {
  color: rgb(14, 75, 12);
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  margin-top: 1em;
}
.contact-link {
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: rgb(14, 75, 12);
  text-decoration: none;
}
.contact-link:hover {
  text-decoration: underline;
  color: #fd1383;
}
.networks {
  text-align: right;
}
.network-icon-bg {
  display: inline-flex;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 1em;
  justify-content: center;
  align-items: center;
}
.network-icon {
  width: 40px;
  height: 40px;
  padding: 5px;
}

/*product page*/

.product-page-title {
  margin-top: 7em;
}
.card-wrapper {
  width: 85%;
  margin: 1em auto;
  display: flex;
  justify-content: space-around;
}
.card {
  max-width: 500px;
  border-radius: 20px;
}
.card-title {
  text-align: center;
}
.card-text {
  text-align: justify;
  font-weight: 500;
  font-size: 14px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.variable {
  color: #413939;
  font-weight: normal;
}
.card-last-line {
  display: flex;
  justify-content: space-between;
  margin-block-start: 1em;
}
.card-image-wrapper {
  padding-top: 20px;
  position: relative;
}
.card-image-text {
  position: absolute;
  top: 100px;
  left: 60px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.25);
}

.test {
  border: 1px solid black;
}
